{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block extra_css %}
<style>
.btn.btn-secondary.btn-sm.d-flex.align-items-center {
border: 1px solid #6C757D;
border-radius: 128.2rem;
box-sizing: border-box;
font-family: Source Code Pro;
font-size: 0.98rem;
font-weight: 500;
letter-spacing: 1px;
line-height: 2.6;
padding: .25rem .5rem;
text-align: center;
text-decoration: none;
text-wrap: nowrap;
transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
background-color: initial;
background-blend-mode: initial;
}
.btn.btn-secondary.btn-sm.d-flex.align-items-center:hover {
background-color: #6C757D;
color: #FFFFFF;
}
</style>

{% endblock %}
{% block content %}
<div class="content-section mt-5">
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between">
        <div class="media d-flex align-items-start flex-grow-1">
            <img class="rounded-circle account-img me-3" src="{{ profile.image.url }}" alt="{{ user.username }}'s profile picture">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary mb-md-0">{{ user.email }}</p>
            </div>
        </div>
        {% if user.username != request.user.username %}
        <div class="ms-md-3 mt-3 mt-md-0">
            <a href="{% url 'compose_message' %}?recipient={{ user.username }}" class="btn btn-secondary btn-sm d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope me-2" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                &nbsp;Message
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}